<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\fdoaguilar9\Source\Repos\SGPHE\SistemaGestorRecursosDidacticos\data\DataPlaneamiento.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SistemaGestorRecursosDidacticos.Properties.Settings.DataPlaneamientoConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\data\DataPlaneamiento.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>